<div>
    <p class="article-view" id={{_id}} data-id={{_id}}>{{title}}
    </p>
    <p class="article-view" data-id={{_id}}>{{summary}}
        <br />
        <a href={{link}} target="_blank">{{link}}</a>

    </p>
</div>