{{!-- //TODO: Expect the css for this class to highlight the selected article --}}
<div class="article-view" data-id={{_id}}>
    <h3 id={{_id}} data-id={{_id}}>{{title}}
    </h3>
    <p data-id={{_id}}>{{summary}}
        <br />
        <a href={{link}} target="_blank">{{link}}</a>
    </p>
    <hr />
</div>